<!DOCTYPE html>
<html lang="en" data-theme="dim">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/css/main.css" />
  <title><%= title %></title>
</head>
<body>
 <%- include('partials/navbar') %>

  <main class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-6xl font-bold">404</h1>
    <p class="text-lg text-gray-400">Page not found</p>
    <a href="/" class="btn btn-primary mt-6">Go Home</a>
  </main>
</body>
</html>
