<!DOCTYPE html>
<html lang="en" data-theme="dim">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<%- include('partials/navbar') %>

<main class="container mx-auto p-8 prose">
  <h1>About Us</h1>
  <p>This project demonstrates Express.js + EJS + Sequelize + PostgreSQL.</p>
</main>

</body>
</html>
