<!DOCTYPE html>
<html lang="en" data-theme="dim">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<%- include('partials/navbar') %>

<main class="container mx-auto text-center p-10">
  <h1 class="text-4xl font-bold mb-4">Welcome to Climate Solutions</h1>
  <p class="text-lg text-gray-400">WEB322 Assignment 3</p>
</main>

</body>
</html>
